* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Tajawal", sans-serif;
  background-color: #F8FAFC;
}
body::-webkit-scrollbar {
  width: 0;
}

html {
  scrollbar-width: none;
}
i {
  cursor: pointer;
}
.upnavbar{
  width: 100%;
  max-width: 100%;
background-color: #FDFDFE;
border-bottom: solid #cfcbcb3b 0.1px;
}
.navbar{
  width: 100%;
  max-width: 83%;
  background-color: #FDFDFE;
  border-bottom:solid #cfcbcb3b 0.1px;
  margin: auto;
}
.logo {
  float: left;
  display: flex;
  align-items: center;
  gap: 8px;
}
.textLogo{
font-size:25px;
font-weight: 700;

}
.p1 {
  font-weight: 500;
  font-size: medium;
  color: #575858;
}
#fa-slid {
  background-image: linear-gradient(80deg, #7728fc, #7201eb);
  box-shadow: 0px 0px 5px rgba(96, 36, 174, 0.67);
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(251, 255, 240);
  border-radius: 15px;
  font-size: large;
}
.buttonAndPhoto{
  float: right;
  display: flex;
  align-items: center;
  gap: 20px;
}
.addContactButton {
  font-size: medium;
  font-weight: 700;
  color: #ffffff;
  width: 100%;
  max-width: 150px;
  height: fit-content;
  padding: 7px 5px;
  background-image: linear-gradient(80deg, #8638fa, #5000c9);
  border-radius: 10px;
  border: none;
}

.addContactButton:hover {
  box-shadow: 0 0px 15px rgba(118, 8, 186, 0.453);
}
.fa-gear{
  background-color: #5507efd6;
  color: #ffffff;
  padding:10px 10px;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
}
.fa-bell{
   background-color: #5507efd6;
    color: #ffffff;
    padding: 10px 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
}
.imeeg {
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); */
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #5c35f8;
}
.form {
  display: none;
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
  background-color: white;
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  border: none;
  height: auto;
  max-height: 90vh;
  padding: 20px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  z-index: 555;
  overflow: auto;
  scrollbar-width: none;
}
.form-cntrol {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  padding: 11px;
  background-color: #f2f5f6;
  border-radius: 10px;
  border: none;
  /* outline: none; */
  font-size: 16px;
}

.form-cntrol:focus {
  box-shadow: 0 10px 25px rgba(110, 0, 0, 0.5);
  border-color: #ffffff;
  box-shadow: 0 0 5px #110471;
}
#fa-sld {
  background-image: linear-gradient(80deg, #f81345, #f81345);
  font-size: x-large;
  vertical-align: middle;

}
.items{
  display: flex;
  width: 100%;
   flex-wrap: wrap;
  gap: 10px;
}
.definitionAtegories{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  gap: 8px;
  width: 100%;
}
.card-1 {
  position: relative;
  width: 100%;
  max-width: 420px;
  height: 90px;
  padding: 25px 30px;
  border: none;
  background: white;
  border-radius: 20px;
  border: 1px solid #dfdfe0;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
}

.card-1:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.iv {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.childee {
  display: flex;
  position: absolute;
  top: 20%;
}
.card-1text{
font-size: clamp(12px, 2vw, 18px);
font-weight: 500;
color: #000000;
}
#fa-sid {
  background-image: linear-gradient(40deg, #cc8c25, #fe9d00);
  box-shadow: 0px 0px 5px rgba(195, 149, 11, 0.742);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  border-radius: 10px;
  font-size: large;
}

#fa-siid {
  background-image: linear-gradient(80deg, #2477fe, #2477fe);
  box-shadow: 0px 0px 5px rgba(24, 24, 184, 0.712);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  border-radius: 10px;
  font-size: large;
}

#fa-sld {
  background-image: linear-gradient(70deg, #fb1649, #fb1649);
  /* box-shadow: 0px 0px 5px rgba(164, 6, 64, 0.712); */
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  border-radius: 10px;
  font-size: large;
}


/* section {
  display: flex;
  justify-content: space-around;
 gap: 0px;
} */
.cardAndcategories{
  width: 100%;
  display: flex;
  gap: 30px;
}

.searchandcard{
  display: block;
  width: 100%;
  max-width: 955px;
  gap: 15px;
}
.search {
  width: 100%;
  /* width: 840px; */
  padding: 15px 15px;
  border-radius: 10px;
  background-color: #ffffff;
    border: 2px solid #e4e4e4;
      box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);

}

.search:focus {
  border-color: #5c35f8;
}

.search:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.categories {
  top: 20px;
  width: 100%;
  max-width:300px ;
  max-height: 300px;
}
.message{
display: flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
gap: 10px;
}
.fa-address-book{
  color: #797979;
  background-color: #e8e8eb62;
  font-size:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px 45px;
  border-radius: 15px;
}
.nocontacts{
  font-weight: 500;
  color: rgb(68, 67, 67);
  font-size: medium;
}
.addContact{
  font-weight: 500;
  color: rgb(108, 104, 104);
  font-size: small;
}
#fa-d {
  font-size: xx-large;
  color: #d0d5dd;
  background-color: #f2f5f6;
  border-radius: 5px;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardandcatogery{
  width: 100%;
  display: flex;
}
.upcard {
  position: relative;
  max-height: 800px;
  overflow-y: auto;
}

.upcard::after {
  content: "";
  position: sticky;
  bottom: 0;
  display: block;
  width: 100%;
  height: 30px;
  background: linear-gradient(to bottom,
      transparent,
      rgba(0, 0, 0, 0.69));
  pointer-events: none;
}
.upcard::-webkit-scrollbar {
  width: 6px;
}

.upcard::-webkit-scrollbar-track {
  background: rgba(232, 231, 231, 0.533);
   border-radius: 50px;
}

.upcard::-webkit-scrollbar-thumb {
  background: rgb(78, 8, 158);
  border-radius: 50px;
}

.card {
  width: 100%; 
  max-width: 47%;
  height: 250px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fefffe;
  border:rgba(70, 79, 89, 0.233),0.5px;
  box-shadow: 10 10px 25px rgba(0, 0, 0, 0);
  overflow: hidden;
  position: relative;
  border-bottom: solid 0.1px rgb(0, 0, 0)
}
.card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.allphotoandtext{
    display: flex;
    align-items: center;
    gap: 8px;
}
.imag {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 17px;
}

.imag img {
  width: 100%;
  height: 100%;
  border-radius: 17px;
  border:solid #ffffffdc  1px;
}
.stylestar{
  position: absolute;
  top: 0;
  right: 0;
  left: 40px;
  bottom: 50px;
  color: #fafafa;
  background-color: #FFB900;
  border-radius: 50%;
  font-size: 8px;
  padding:8px 8px;
  width: fit-content;
  height: fit-content;
  border: #ffffff solid 2px;
}
#endcard{
  position:absolute;
  top: 78%;
  bottom:0px;
  right:0px;
  width:100%;
  background-color: #f3f5f6;
  border-top: solid 0.1px rgba(140, 137, 137, 0.132);
  height: 100px;
}
.icons{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 10px;
}
.icons-2{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
#fa-delet:hover {
  color: #6A161c;
}
.emaile{
display: flex;
align-items: center;
gap:8px;
}

.Addrs{
display: flex;
align-items: center;
gap: 5px;
}
.txp {
  font-size: medium;
  font-weight: 600;
}
#fa-loction{
  color: #ffffff;
  font-size: small;
  background-color:#12d379d5;
padding:10px 16px;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
}
.Group {
  width: fit-content;
  height: fit-content;
  padding: 5px 8px;
  font-size: small;
  border-radius: 8px;
  font-weight: 500;
  color: #ffffff;
}

.favorites {
  position: relative;
  width: 400px;
  max-height: 350px;
  overflow-y: auto;
  border-radius: 10px;
  background-color: #fefffe;
  border: #8280807d 0.5px solid;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 0;

}

.ani {
  position: absolute;
  bottom: 0;
  width: 0px;
  height: 2px;
  background-color: #600cde;

  transition: width 0.5s ease-out, background-color 0.5s ease-out;
}

.per:hover .ani {
  background-color: #e7b23e;
  width: 100%;
}

.yellow {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #FFC107;
  border-radius: 10px 10px 0 0;
  margin: 0;
}

.chelldyellow {
  margin-top: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0px;
  margin-left: 10px;
}
.upcard {
  position: relative;
  max-height: 800px;
  overflow-y: auto;
}

.upstar::after {
  content: "";
  position: sticky;
  bottom: 0;
  display: block;
  width: 100%;
  height: 30px;
  background: linear-gradient(to bottom,
      transparent,
      rgba(0, 0, 0, 0.69));
  pointer-events: none;
}
.cardshortcut{
  margin: auto;
  margin-top: 10px;
 width: 95%;
  max-width: 100%;
  height: 60px;
  background-color: #F9FAFB;
  border-radius: 10px;
  border: #b7b3b350 solid 0.3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
  font-size: clamp(10px, 4vw, 14px);
  font-weight: 500;
}

.cardshortcut:hover {
  background-color: #FFC107;
  color: #ffffff;
}
.x-2{
  width: 55%;
  display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
}
.phototextfavo {
width: 50px;
height: 50px;
  border-radius: 10px;
  margin: auto;  
}

.phototextfavo img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
    border: solid #0c0c0cdc 1px;
}
.txet{
  display: block;
    align-items: center;
    gap: 0px;
}


.elseimage{
  width:100%;
  height:100%;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: x-large;
  font-weight: 500;
}
.imagfav {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 7px;
  margin-left: 5%;
}

.imagfav img {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  border-radius: 10px;

}
.pandi{
  display: flex;
  justify-content: space-between;
}
#iconfone {
  display: flex;
  justify-content: end;
  font-size: small;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 10px;
}

.cardshortcut:hover #iconfone{
  background-color: #29AB7F;
  color: rgb(240, 244, 238);
  cursor: pointer;
}
.emergency {
  position: relative;
  width: 400px;
  max-height: 350px;
  overflow-y: auto;
  border-radius: 10px;
  background-color: #fefffe;
  border: #8280807d 0.5px solid;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 0;
}

.emergency:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.red {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #8a0320;
  border-radius: 10px 10px 0 0;
  margin: 0;
}

.chelldred {
  margin-top: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0px;
  margin-left: 10px;
}
.upemer::after {
  content: "";
  position: sticky;
  bottom: 0;
  display: block;
  width: 100%;
  height: 30px;
  background: linear-gradient(to bottom,
      transparent,
      rgba(0, 0, 0, 0.69));
  pointer-events: none;
}
.cardshortcutemer {
  margin: auto;
  margin-top: 10px;
  width: 95%;
  max-width: 100%;
  height: 60px;
  background-color: #F9FAFB;
  border-radius: 10px;
  border: #b7b3b350 solid 0.3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
  font-size: clamp(10px, 4vw, 14px);
  font-weight: 500;
}

.cardshortcutemer:hover {
  background-color: #91122E;
  color: #ffffff;
}
.cardshortcutemer:hover #iconfone {
  background-color: #29AB7F;
  color: rgb(240, 244, 238);
  cursor: pointer;
}
.fa-phone {
  background-color: #D0FAE5;
  color: #29AB7F;
 font-size: small;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  padding: 8px 8px;
  transition: all 0.3s ease;
}

.fa-phone:hover {
  background-color: #019967;
  color: #fefefe;
  border-radius: 5px;
  padding: 8px 8px;
  cursor: pointer;
}

.fa-envelope {
  font-size: small;
  width: fit-content;
  color: #9c3cefcf;
  background-color: #9b3cef42;
  border-radius: 5px;
  padding: 8px 8px;
  transition: all 0.3s ease;
}

.fa-envelope:hover {
  background-color: #9c3cefcf;
  color: #fcfbfd;
  border-radius: 8px;
  padding: 8px 8px;
  cursor: pointer;
}
/* ايقونة الايميل اللي فوق العنوان*/
.fa-emaile {
  background-color: #9c3cefcf;
  color: #fcfbfd;
  font-size: small;
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-emaile:hover {
background-color: #9c3cefcf;
color: #fcfbfd;
padding: 10px 10px;
border-radius: 10px;
}
/* ايقونة الايميل اللي فوق العنوان*/
#peen {
  width: fit-content;
  font-size: small;
  color: #6a7282;
  border-radius: 5px;
  padding: 8px 8px;
  transition: all 0.3s ease;
}

#peen:hover {
  background-color: #a58cff5a;
  color: #2c04bd;
  border-radius: 5px;
  padding: 8px 8px;
  cursor: pointer;
}
.fa-pen{
    font-size: medium;
    color: #6A7282;
    border-radius: 5px;
    width: fit-content;
    padding: 8px 8px;
    transition: all 0.3s ease;
}
.fa-pen:hover {
  background-color: #845bff41;
  color: #4311db;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  padding: 8px 8px;
}
.fa-trash{
  color: #6a7282;
  border-radius: 5px;
  width: fit-content;
  padding: 8px 8px;
  transition: all 0.3s ease;
}

.fa-trash:hover {
  background-color: #ff7b7b3c;
  color: #f31e1e;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  padding: 8px 8px;
}

.fa-regular:hover {
    background-color: #d1d3d4b0;
  color: #FFB900;
  border-radius: 5px;
  padding: 8px 8px;
  cursor: pointer;
  width: fit-content;
}
.starsolid{
  background-color: #f9f4e6e4;
}
.starsolid:hover {
    background-color: #f6e3b1;
  color: #FFB900;
  border-radius: 5px;
  padding: 8px 8px;
  cursor: pointer;
  width: fit-content;
}
.fa-heart-pulse {
  color: #fa184a;
  width: fit-content;
  padding: 8px 8px;
  background-color: #fef0f2;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.fa-heart-pulse:hover {
  background-color: #ff1a1a5f;
  border-radius: 5px;
  padding: 8px 8px;
  cursor: pointer;
  color: #fa184a;

}
.styleemer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 40px;
  top: 40px;
  color: #fafafa;
  background-color: #fa184a;
  border-radius: 50%;
  font-size: 8px;
  padding: 8px 8px;
  width: fit-content;
  height: fit-content;
  border: #ffffff solid 2px;
}

.bllur {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 4;
  display: none;
}

#X {
  color: rgba(84, 81, 81, 0.419);
  background-color: none;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}

#X:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 0, 0);
  background-color: #7f0f0f;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.label {
  margin-left: 30px;
}
.photosSection{
  width: 50%;
 margin: auto;
}
.addimg {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: max-content;
  padding: 10px 0px;
  background-color: #f2f5f6;
  border-radius: 5px;
  font-size: medium;
  font-weight: 400;
}

.addimg:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.addimg i {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 500;
  color: #6a7282;
}

.texticonheart{
  background-color:none;
  font-size: small;
}
.def {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 5px;
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); */
}

.alltchck {
  display: flex;
  align-items: center;
  gap: 8px;
}
.form-check{
display: flex;
  align-items: center;
  gap: 8px;
}
.allbutton {
  display: flex;
  gap: 5px;
}
.buttonsave {
  font-weight: 500;
  color: #f2f5f6;
  width: 100%;
  max-width: 220px;
  padding: 10px 10px;
  background-color: #5c35f8;
  border-radius: 10px;
  border: none;

}

.buttonsave:hover {
  background-color: #1f006c;
  box-shadow: 0 10px 25px rgba(50, 2, 73, 0.2);
  cursor: pointer;
}

.buttoncencel{
  width: 100%;
  max-width:220px;
  padding: 10px 10px;
  background-color: none;
  border-radius: 10px;
  border: none;
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); */
}
.buttoncencel:hover {
  background-color: #5857578a;
  box-shadow: 0 10px 25px rgba(178, 144, 241, 0.2);
  cursor: pointer;
}
.app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 888;
  display: none;
}

.checkk {
  position: fixed;
  top: 20%;
  left: 35%;
  right: 55%;
  bottom: 60%;
  width: 500px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  z-index: 5;
}

/*Responsiv*/
@media (max-width: 1279.98px) {
.cardAndcategories {
    width: 100%;
    display: block;
  }

  .searchandcard {
    display: block;
    width: 100%;
    max-width: 100vw;
    gap: 15px;
  }
.upcard {
  border-radius: 15px;
}
  .card {
    width: 100%;
    max-width: 48%;
  }

  .categories {
    margin-top: 15px;
    width: 100%;
    max-width: 100%;
    max-height: 300px;
  }
        .favorites {
          width: 100%;
          max-width: 100vw;
          height: auto;
          border-radius: 20px;
        }
    
        #upstar {
          display: flex;
          flex-wrap: wrap;
        }
                .cardshortcut {
                  width: 95%;
                  max-width: 49%;
                  height: 60px;
                }
        .emergency {
          margin-top: 15px;
          width: 100%;
          max-width: 100vw;
          height: auto;
          border-radius: 20px;
        }
         #upemer{
          display: flex;
            flex-wrap: wrap;
         }
                .cardshortcutemer {
                  width: 95%;
                  max-width: 49%;
                  height: 60px;
                }
}
@media (max-width: 991.98px) {
  .definitionAtegories {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  
    .card-1 {
      width: 100%;
      max-width: 48%;
      height: 80px;
      padding: 10px 20px;
  
    }
.cardAndcategories {
    width: 100%;
    display: block;
  }

  .searchandcard {
    display: block;
    width: 100%;
    max-width: 100vw;
    gap: 15px;
  }
.upcard {
  border-radius: 15px;
}
  .card {
    width: 100%;
    max-width: 45%;
  }

  .categories {
    margin-top: 15px;
    width: 100%;
    max-width: 100%;
    max-height: 300px;
  }
        .favorites {
          width: 100%;
          max-width: 100vw;
          height: auto;
          border-radius: 20px;
        }
    
        #upstar {
          display: flex;
          flex-wrap: wrap;
        }
                .cardshortcut {
                  width: 95%;
                  max-width: 49%;
                  height: 60px;
                }
        .emergency {
          margin-top: 15px;
          width: 100%;
          max-width: 100vw;
          height: auto;
          border-radius: 20px;
        }
         #upemer{
          display: flex;
            flex-wrap: wrap;
         }
                .cardshortcutemer {
                  width: 95%;
                  max-width: 49%;
                  height: 60px;
                }
}
@media (max-width: 639.98px) {
.navbar {
  width: 100%;
  max-width: 100vw;
display: flex;
flex-wrap: nowrap;
  }

  .logo {
 margin-left: 0%;

  }

  .p1,
  .fa-gear,
  .fa-bell,
  .contact {
    display: none;
  }

  .items {
    width: 100vw;
    max-width: 100vw;
  }

  .definitionAtegories {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .card-1 {
    width: 100%;
    max-width: 48%;
    height: 80px;
    padding: 10px 20px;
    
  }
  /* .card-1text{
  font-size: 10vw;  
  } */
  .cardAndcategories {
    width: 100%;
    display: block;
  }

  .searchandcard {
    display: block;
    width: 100%;
    max-width: 100vw;
    gap: 15px;
  }
.upcard {
  border-radius: 15px;
}

  .card {
    width: 100%;
    max-width: 95%;
  }

  .categories {
    margin-top: 15px;
    width: 100%;
    max-width: 100%;
    max-height: 300px;
  }

  .favorites {
    width: 100%;
    max-width: 100vw;
    height: auto;
    border-radius: 20px;
  }

     .cardshortcut {
       width: 95%;
       max-width: 100%;
       height: 60px;
     }
  .emergency {
    margin-top: 15px;
    width: 100%;
    max-width: 100vw;
    height: auto;
    border-radius: 20px;
  }
     .cardshortcutemer {
       width: 95%;
       max-width: 100%;
       height: 60px;
     }
         
}
@media (max-width:400px) {
  .card-1 {
    max-width: 100%;
  }
    .upcard {
      border-radius: 15px;
    }
}